# Copy this file to `.env` and replace the placeholder with your real connection string.
# Connection string for PostgreSQL.
# Requires PostgreSQL >= 15.

DATABASE_URL="postgres://a93a58050e2a2df236834814bd4b2b13431874c7d46177ee844364767c8621fe:sk_AdXDXvKIUS0b1BfqFZIU7@pooled.db.prisma.io:5432/postgres?sslmode=require"
